/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Website Sederhana */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    color: rgb(88, 84, 39);
}
.container {
    width: 1000px;
    margin: auto; 
    background-color: white;
}
.header {
	padding: 20px;
}
.header .judul {
    font-size: 40px;
    font-weight: bold;
}
.header li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}
.header a {
	text-decoration: none;
	color: salmon;
	padding: 3px;
}
.header a:hover {
	background-color: lightskyblue;
	color: white;
}
.hero {
	height: 480px;
	background-image: url(img/hero.jpg);
	background-size: cover;
	background-position: 0 -80px;
	border-top: 5px solid #4714d3;
	border-bottom: 5px solid #ce0505;
}
.content {
	padding: 20px;
}
.content {
	font-size: 28px;
}
.content .penulis {
	font-size: 20px;
	margin-top: 15px;
}
.content .penulis a {
	color: #6c08ca;
	text-decoration: none;
}
.content p {
	margin-bottom: 20px;
	font-size: 20px;
	word-spacing: 3px;
}
.footer {
	background-color: seagreen;
	padding: 10px;
}
.footer .copy {
	color: seashell;
	text-align: center;
	font-size: 20px;
}